<div class="container invoicing-container">
  <div class="container">
    <h2>Balance</h2>
    <div class="row">
      <div class="col-4">
        <label for="FormControlInput" class="form-label">Mes:</label>
        <select class="form-select" aria-label="Default select example">
          <option value="1" selected>Enero</option>
          <option value="2">Febrero</option>
          <option value="3">Marzo</option>
          <option value="4">Abril</option>
          <option value="5">Mayo</option>
          <option value="6">Junio</option>
          <option value="7">Julio</option>
          <option value="8">Agosto</option>
          <option value="9">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12">Diciembre</option>
        </select>
      </div>
      <div class="col-4">
        <label for="FormControlInput1" class="form-label">Año:</label>
        <input type="text" class="form-control" id="FormControlInput1" placeholder="YYYY" minlength="4" maxlength="4">
      </div>
      <div class="col-4 align-self-end">
        <button type="button" class="btn btn-success">Buscar</button>
      </div>
    </div>

    <!-- Añadir ngFor para mostrar los usuarios encontrados -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">INGRESOS</th>
          <th scope="col">GASTOS</th>
          <th scope="col">BALANCE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>+100</td>
          <td style="color: red;">-50</td>
          <td style="color: green;">50</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
